.about{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
}
.about h2{
    grid-column: 3/11;
    align-self: flex-start;
}
.info{
    grid-column: 3/11;
    text-align: justify;
}
a{
    color: #22272f;
}
a:link{
    color: #22272f;
}
a:visited{
    color: #22272f;
}
a:active{
    color: #22272f;
}