
.welcome{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    gap: 1em;
}
.me{
    grid-column: 8/11;
    width: 100%;
    height: auto;
}
.info{
    grid-column: 3/8;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.info p{
    margin-left: 10px;
}
.info p:hover{
    color: #60dafb;
    transform: scale(.95);
    transition: ease-in-out .3ms;
}

@media (max-width:768px){
    .welcome{
        margin-top:20vh;
    }
    .me{
        grid-column: 3/11;
    }
    .info{
        grid-column: 3/11;
    }
    .info p{
        font-size: 2rem;
    }
}